# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Ignore custom IntelliJ settings
.idea

#Ignore custom VSCode settings
.vscode

#Ignore macOS's custom folder settings
.DS_Store